<ion-view class="home">

    <div ng-include="'./templates/topMenu1.html'"></div>

    <ion-content scroll="false" class="back">

        <div class="row second-row" style="padding: 10px 0 0 0;">
            <div class="col-xs-10 autor right-content">
                    <div style="border: 1px solid #ccc; background-color: #fff; opacity: .9">
                            <div class="row2">
                                <div class="col col-80 fuente" style="margin-left: 2px; ">
                                    <b>Jesús González Bayolo</b> (Camagüey, 2 de enero de 1952) es periodista e investigador. Ha reportado Olimpiadas, otros certámenes de carácter mundial y más de un centenar de Torneos Internacionales de Ajedrez, en más de 30 años ejerciendo el periodismo especializado en <span class="cursiva">Juventud Rebelde</span>.<br>
                                    Maestro Nacional de ajedrez, ha ofrecido cursos y conferencias en universidades de México, Bolivia y Colombia. También ha ofrecido conferencias en eventos internacionales, como los AJEDUNI (Festival de Ajedrez de las Universidades de Iberoamérica), Pedagogía ʼ95, Conferencia Internacional “Martí y los desafíos del siglo XXI”, Evento científico del Mundial Juvenil de Medellín ʼ96 y otros.<br>
                                    Militante del Partido Comunista de Cuba, ha sido electo delegado a varios congresos de la UPEC. Es miembro fundador del Instituto Superior Latinoamericano de Ajedrez (ISLA), donde labora actualmente. Preside el Comité de Historia y Propaganda de la Federación Cubana de Ajedrez y forma parte del Comité de Prensa de la Federación Internacional de Ajedrez (FIDE) desde 1994. Integra la Comisión Nacional de Historia del Deporte.<br><br>
                                    <b>Armando Sánchez García</b> (Santa Clara, 22 de diciembre de 1949) es graduado de Técnico Medio en Mecánica General en 1968. Trabajó en el Ministerio de Agricultura, Industria Azucarera y el Comercio. Es miembro fundador del Instituto Superior Latinoamericano de Ajedrez (ISLA), donde labora actualmente. </div>
                            </div>
                    </div>
                </div>
        </div>
        </div>

    </ion-content>
</ion-view>