<div class="card">
	<div class="item item-divider">

	</div>
	<div class="item item-text-wrap fuente">
		<ion-scroll direction="y" class="ajustado2">


            <div id="portfoliolist">

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Campeones/alekhine.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Alexander Alekhine">
                        <img class="img-responsive ajust" src="img/Campeones/alekhine.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                   <a  href='img/Campeones/anand.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Viswanathan Anand">
                        <img class="img-responsive ajust" src="img/Campeones/anand.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Campeones/botvinnik.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Mikhail Botvinnik">
                        <img class="img-responsive ajust" src="img/Campeones/botvinnik.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Campeones/capablanca.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="José Raúl Capablanca">
                        <img class="img-responsive ajust" src="img/Campeones/capablanca.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Campeones/euwe.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Max Euwe">
                        <img class="img-responsive ajust" src="img/Campeones/euwe.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                   <a  href='img/Campeones/fischer.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Robert James Fischer">
                        <img class="img-responsive ajust" src="img/Campeones/fischer.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Campeones/kasparov.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Garry Kasparov">
                        <img class="img-responsive ajust" src="img/Campeones/kasparov.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                   <a  href='img/Campeones/khalifman.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Alexander Khalifman">
                        <img class="img-responsive ajust" src="img/Campeones/khalifman.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                   <a  href='img/Campeones/kramnik.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Vladimir Kramnik">
                        <img class="img-responsive ajust" src="img/Campeones/kramnik.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Campeones/lasker.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Enmanuel Lasker">
                        <img class="img-responsive ajust" src="img/Campeones/lasker.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Campeones/petrosian.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Tigran Petrosian">
                        <img class="img-responsive ajust" src="img/Campeones/petrosian.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Campeones/ponomariov.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ruslan Ponomariov">
                        <img class="img-responsive ajust" src="img/Campeones/ponomariov.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Campeones/smyslov.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Vassily Smyslov">
                        <img class="img-responsive ajust" src="img/Campeones/smyslov.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Campeones/spassky.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Boris Spassky">
                        <img class="img-responsive ajust" src="img/Campeones/spassky.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Campeones/steinitz.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Wilhmeln Steinitz">
                        <img class="img-responsive ajust" src="img/Campeones/steinitz.png" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Campeones/tahl.png'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Mijaíl Tal">
                        <img class="img-responsive ajust" src="img/Campeones/tahl.png" alt=''/>
                    </a>
                </div>

                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <!--<p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>-->




                <div class="clear"></div>
            </div>





        </ion-scroll>
	</div>

</div>

