
<div class="card">
	<div class="item item-divider">

	</div>
	<div class="item item-text-wrap fuente">
		<ion-scroll direction="y" class="ajustado2">


            <div id="portfoliolist">

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/1.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="José Raúl Capablanca">
                        <img class="img-responsive ajust" src="img/Capablanca/1.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/2.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption=" Capablanca en torneo de ajedrez">
                        <img class="img-responsive ajust" src="img/Capablanca/2.jpg" alt=''/>
                    </a>
                </div>


                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/9.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Torneo Capablanca in Memoriam">
                        <img class="img-responsive ajust" src="img/Capablanca/9.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/10.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Partida I. Bilek (Hungría) - J.Donner (Holanda)">
                        <img class="img-responsive ajust" src="img/Capablanca/10.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/12.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Partida Troianescu (Rumania) - E. Cobo (Cuba)">
                        <img class="img-responsive ajust" src="img/Capablanca/12.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/13.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="VIII Torneo Capablanca in Memoriam ">
                        <img class="img-responsive ajust" src="img/Capablanca/13.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/14.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="VIII Torneo Capablanca in Memoriam ">
                        <img class="img-responsive ajust" src="img/Capablanca/14.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/15.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="VIII Torneo Capablanca in Memoriam ">
                        <img class="img-responsive ajust" src="img/Capablanca/15.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/16.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ajedrecistas cubanos">
                        <img class="img-responsive ajust" src="img/Capablanca/16.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">

                    <a  href='img/Capablanca/17.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Partida N. Karaklaic (Yugoslavia) - Mista (Checoslovaquia)">
                        <img class="img-responsive ajust" src="img/Capablanca/17.jpg" alt=''/>
                    </a></div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/18.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en Torneo Capablanca in Memoriam ">
                        <img class="img-responsive ajust" src="img/Capablanca/18.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/19.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Partida M. Quinteros (Argentina) - A. Barreras (Cuba) ">
                        <img class="img-responsive ajust" src="img/Capablanca/19.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">

                    <a  href='img/Capablanca/20.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Torneo Capablanca in Memoriam ">
                        <img class="img-responsive ajust" src="img/Capablanca/20.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/21.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Torneo Capablanca in Memoriam ">
                        <img class="img-responsive ajust" src="img/Capablanca/21.jpg" alt=''/>
                    </a>
                    </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/23.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Torneo Capablanca in Memoriam ">
                        <img class="img-responsive ajust" src="img/Capablanca/23.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Capablanca/24.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="XIII Torneo Capablanca in Memoriam ">
                        <img class="img-responsive ajust" src="img/Capablanca/24.jpg" alt=''/>
                    </a>
                </div>


                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>

                <!--<p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>-->

                <div class="clear"></div>
            </div>


        </ion-scroll>
	</div>

</div>

