
<div class="card">
	<div class="item item-divider">

	</div>
	<div class="item item-text-wrap fuente">
		<ion-scroll direction="y" class="ajustado2">
            <div id="portfoliolist">

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/1.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en torneo de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/1.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/2.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en torneo de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/2.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/5.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en partida de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/5.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/6.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en partida de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/6.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/7.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en torneo de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/7.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/9.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en partida de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/9.jpg" alt=''/>
                    </a>
                </div>


                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/11.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en partida de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/11.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/12.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en partida de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/12.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/13.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en torneo de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/13.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/14.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en torneo de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/14.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/15.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en partida de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/15.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/16.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en simultánea de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/16.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/17.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en torneo de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/17.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/18.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en torneo de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/18.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/19.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en partida de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/19.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/20.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en torneo de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/20.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Che/21.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Ernesto “Che” Guevara en partida de ajedrez">
                        <img class="img-responsive ajust" src="img/Che/21.jpg" alt=''/>
                    </a>
                </div>


                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
               <!-- <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>-->






                <div class="clear"></div>
            </div>
        </ion-scroll>
	</div>

</div>

