
<div class="card">
	<div class="item item-divider">

	</div>
	<div class="item item-text-wrap fuente">
		<ion-scroll direction="y" class="ajustado2">
            <div id="portfoliolist">

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/1.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/1.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/6.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/6.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/7.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/7.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/8.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/8.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/9.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/9.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/10.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/10.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/11.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/11.jpg" alt=''/>
                    </a></div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/13.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/13.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/14.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/14.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/15.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/15.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/16.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/16.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/17.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/17.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/18.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/18.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/19.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/19.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/20.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/20.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/21.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/21.jpg" alt=''/>
                    </a>
                </div><div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/1.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/1.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/6.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/6.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/7.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/7.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/8.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/8.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/9.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/9.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/10.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/10.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/11.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/11.jpg" alt=''/>
                    </a></div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/13.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/13.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/14.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/14.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/15.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/15.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/16.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/16.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/17.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/17.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/18.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/18.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/19.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/19.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/20.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/20.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/Fidel/21.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Fidel en simultánea de ajedrez en la Plaza de la Revolución">
                        <img class="img-responsive ajust" src="img/Fidel/21.jpg" alt=''/>
                    </a>
                </div>

                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>

                <!--<p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>-->
                <div class="clear"></div>
            </div>

        </ion-scroll>
	</div>

</div>

