<div class='card'>
	<div class='item item-divider'>

	</div>
	<div class='item item-text-wrap fuente'>
		<ion-scroll direction='y' class='ajustado2'>
            Fidel es Cuba. Es Cuba en el pasado centenario, y será Cuba en el mundo del futuro. Porque es como si toda la historia de nuestro país durante siglos hubiera transcurrido gestando un titán de su talla universal. Fidel es el corazón de nuestro pueblo, que cada día lo invoca. Es Martí, Céspedes y Maceo; nuestras guerras de independencia; el rechazo a las injusticias esclavistas y raciales; nuestra cultura, desde Félix Varela hasta Alejo Carpentier y Silvio Rodríguez.
            Es nuestra vocación por la ciencia desde Finlay hasta la Operación Milagro; nuestro deporte, y también, cómo no, nuestro ajedrez, desde Félix Sicre, pasando por Capablanca, la gran Olimpiada de La Habana, la creación del ISLA, hasta la masificación del ajedrez como Programa de la Revolución en la Batalla de Ideas.
            Mi primera participación olímpica fue en La Habana ʼ66. Era un maestro joven, con escasa trayectoria deportiva. Cierto día me sorprendí cuando al entrar a mi habitación, en el hotel que se celebraba el evento, descubrí sobre mi mesa un bello estuche semejando la casa natal de nuestro Apóstol. En su interior reposaba un fino juego de ajedrez. Le acompañaba una discreta tarjeta con un nombre: Fidel Castro.
            He conservado con celo esa distinción que me hiciera el Jefe de la Revolución. Como muchos otros sucesos relacionados con Fidel y el ajedrez, incorporo este al libro escrito por el historiador de nuestro deporte, el periodista Jesús González Bayolo.

            <p style="font-family: Scala_SansRegular_LF; margin-left: 934px; color: #000000; font-size: 17px;">GRAN MAESTRO SILVINO GARCÍA MARTÍNEZ</p>
            <p class='autor1'>Presidente de la Federación Cubana de Ajedrez</p>


            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <!--  <div>
                <ul class=''>
                    <li dir-paginate='data in datos | itemsPerPage: 4'>
                        <span class='searchT'>{{data.title | uppercase}}</span><br>
                        <p>{{data.content}}</p><br>
                    </li>

                </ul>
            </div>
            <div class='pag-control'>
                <div class='pag-control'>
                    <dir-pagination-controls  pagination-id='cust'></dir-pagination-controls>
                </div>
            </div>-->


        </ion-scroll>
	</div>
</div>
		     
