
<div class="card">
	<div class="item item-divider">

	</div>
	<div class="item item-text-wrap fuente">
		<ion-scroll direction="y" class="ajustado2">
            <div id="portfoliolist">

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/talentos/1.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Profesores y niños talentos del ISLA">
                        <img class="img-responsive ajust" src="img/talentos/1.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/talentos/5.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Niños talentos en clases de ajedrez">
                        <img class="img-responsive ajust" src="img/talentos/5.jpg" alt=''/>
                    </a></div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/talentos/6.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Encuentro de Mirta Rodríguez Pérez con niños talentos ">
                        <img class="img-responsive ajust" src="img/talentos/6.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/talentos/10.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Niños talentos en clases de ajedrez">
                        <img class="img-responsive ajust" src="img/talentos/10.jpg" alt=''/>
                    </a>
                </div>

               <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/talentos/13.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Visita de Vassily Ivanchuk al ISLA">
                        <img class="img-responsive ajust" src="img/talentos/13.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/talentos/14.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Niños talentos en clases de ajedrez">
                        <img class="img-responsive ajust" src="img/talentos/14.jpg" alt=''/>
                    </a></div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/talentos/15.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Niños talentos en clases de ajedrez">
                        <img class="img-responsive ajust" src="img/talentos/15.jpg" alt=''/>
                    </a>
                </div>

                <div class="portfolio logo1 " data-cat="logo">
                    <a  href='img/talentos/16.jpg'
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Profesora del ISLA entrena a niños talentos">
                        <img class="img-responsive ajust" src="img/talentos/16.jpg" alt=''/>
                    </a>
                </div>

                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
               <!-- <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>-->


                <div class="clear"></div>
            </div>

        </ion-scroll>
	</div>

</div>

