
<div class="card">
	<div class="item item-divider">

	</div>
	<div class="item item-text-wrap fuente">
		<ion-scroll direction="y" class="ajustado2">
            <div id="portfoliolist">
                <div class="portfolio logo1 " data-cat="logo">

                    <a href='img/Villa/11.jpg'
                       class='lightview'
                       data-lightview-group='example'
                       data-lightview-title=""
                       data-lightview-caption=" Inauguración de simultánea de ajedrez en la provincia de Villa Clara">
                        <img class="img-responsive ajust" src='img/Villa/11.jpg' alt=''/>
                    </a>
                </div>


                       <div class="portfolio logo1 " data-cat="logo">

                            <a href='img/Villa/1.jpg'
                               class='lightview'
                               data-lightview-group='example'
                               data-lightview-title=""
                               data-lightview-caption="Silvino García y Anatoli Kárpov en simultánea de ajedrez en la provincia de Villa Clara"
                               data-lightview-group-options="controls: { type: 'relative', slider: false }">
                                <img class="img-responsive ajust"  src='img/Villa/1.jpg' alt=''/>
                            </a>
                           </div>
                <div class="portfolio logo1 " data-cat="logo">

                            <a href='img/Villa/2.jpg'
                               class='lightview'
                               data-lightview-group='example'
                               data-lightview-title=""
                               data-lightview-caption="Anatoli Kárpov en simultánea de ajedrez en la provincia de Villa Clara">
                                <img class="img-responsive ajust"  src='img/Villa/2.jpg' alt=''/>
                            </a>
                    </div>
                <div class="portfolio logo1 " data-cat="logo">
                            <a href='img/Villa/5.jpg'
                               class='lightview'
                               data-lightview-group='example'
                               data-lightview-title=""
                               data-lightview-caption="Simultánea de ajedrez en la provincia de Villa Clara">
                                <img class="img-responsive ajust" src='img/Villa/5.jpg' alt=''/>
                            </a>
                    </div>
                <div class="portfolio logo1 " data-cat="logo">
                            <a  href='img/Villa/6.jpg'
                                class='lightview'
                                data-lightview-group='example'
                                data-lightview-title=""
                                data-lightview-caption="Simultánea de ajedrez en la provincia de Villa Clara">
                                <img class="img-responsive ajust" src="img/Villa/6.jpg" alt=''/>
                            </a>
                    </div>
                <div class="portfolio logo1 " data-cat="logo">

                            <a  href='img/Villa/7.jpg'
                                class='lightview'
                                data-lightview-group='example'
                                data-lightview-title=""
                                data-lightview-caption="Simultánea de ajedrez en la provincia de Villa Clara">
                                <img class="img-responsive ajust" src="img/Villa/7.jpg" alt=''/>
                            </a>
                    </div>




                <div class="portfolio logo1 " data-cat="logo">

                    <a  href="img/Villa/8.jpg"
                        class='lightview'
                        data-lightview-group='example'
                        data-lightview-title=""
                        data-lightview-caption="Clausura de simultánea de ajedrez en la provincia de Villa Clara">
                        <img class="img-responsive ajust" src='img/Villa/8.jpg' alt=''/>
                    </a>
                </div>



                        </div>

                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>
                <p class="espacio">Holassssssss </p>



                <div class="clear"></div>



        </ion-scroll>
	</div>

</div>

